/* Base Code */

html {
  font-size: 16px;
  background-color: white;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}

.container {
  display: flex;
  margin: auto;
  align-content: center;
  border: 1px dotted #3C3C3C;
}

.column {
  flex-direction: column;
}

.desktop-image {
  width: 35%;
  margin: 1rem 1rem;
}

.mobile-image {
  display: none;
}

/* Header */

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  background-color: white;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  min-height: 3rem;
}

.bold {
  font-weight: 700;
}

nav li {
  display: inline-block;
  align-items: flex-end;
  padding: 1rem;
}

.mobile-nav {
  display: none;
}


/* Learning Section */

.learning {
  width: 50%;
}

.hero .learning {
  padding: 2rem 1.5rem;
  width: 50%;
}


/* Information Section */

.practice {
  width: 50%;
}

.hero .practice {
  padding: 2rem 1.5rem;
  width: 90%;
}

.information {
  width: 26.4375rem;
}


/* Courses Section */

.courses {
  flex-wrap: wrap;
  width: 70%;
}

.course {
  max-width: 30%;
}

.image-container {
  display: flex;
  width: 90%;
}
