/* Base Code */

html {
  font-size: 16px;
  background-color: white;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}

.container {
  display: flex;
  margin: auto;
  align-content: center;
  border: 1px dotted #3C3C3C;
}

.column {
  flex-direction: column;
}

.desktop-image {
  height: auto;
  width: 100%;
}

.mobile-image {
  display: none;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}


h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

.banner-image {
  width: 60%;
  height: auto;
}

.banner-image img {
  width: 100%;
  height: auto;
}

/* Header */

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  background-color: white;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  min-height: 3rem;
}

.bold {
  font-weight: 700;
}

nav li {
  display: inline-block;
  align-items: flex-end;
  padding: 1rem;
}

.mobile-nav {
  display: none;
}



/* Learning Section */

#learning {
  padding: 2rem 1.5rem;
}

.learning-text {
  margin-left: 2.5rem;
}

#learning h4 {
  margin: 2rem 0 1.5rem 0;
}

.button {
  background-color: #3C3C3C;
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
}

.button a {
  color: #fff;
  text-decoration: none;
}

/* Information Section */

#information {
  display: flex;
  width: 100%;
  height: auto;
}

.banner-image {
  padding: 2rem 1.5rem;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.info {
  display: inline-flex;
  align-items: center;
  padding: 1.5em 0em 1.5em 1em;
}

.left {
  width: 30%;
}

.left img {
  height: auto;
  width: 100%;
}

.info .right {
  flex-direction: column;
  line-height: 1.5;
  margin-left: 1em;
}
/* Courses Section */

#courses {
  background-color: #C3C3C3;
  line-height: 1.5;
}

#courses h2 {
  line-height: 3;
}
.courses {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 10%;

}

.course {
  max-width: 30%;
  height: 19em;
  margin-bottom: 2em;
  background-color: #ffffff;
  padding: 1em 1em 1.5em 1em;
}

.course img {
  height: auto;
  width: 100%;
}

/* Thesis */

video {
  width: 100%;
}
