/* Base Code */

html {
  font-size: 16px;
  background-color: white;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}

.container {
  display: flex;
  margin: auto;
  align-content: center;
  border: 1px dotted #3C3C3C;
}

.column {
  flex-direction: column;
}

.desktop-image {
  width: 35%;
  margin: 1rem 1rem;
}

.mobile-image {
  display: none;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}


h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

/* Header */

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  background-color: white;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  min-height: 3rem;
}

.bold {
  font-weight: 700;
}

nav li {
  display: inline-block;
  align-items: flex-end;
  padding: 1rem;
}

.mobile-nav {
  display: none;
}


/* Learning Section */

#learning .banner-image {
}

#learning .hero {
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
}


/* Information Section */

#information {
  align-items: flex-start;
}
#information .hero {
  padding: 2rem 1.5rem;
  width: 90%;
}

.info-boxes {
  width: 26.4375rem;
}


/* Courses Section */

.courses {
  flex-wrap: wrap;
  width: 70%;
}

.course {
  max-width: 30%;
}

.image-container {
  display: flex;
  width: 90%;
}

/* Thesis */

video {
  width: 100%;
}
